<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BREAD (Browse, Read, Edit, Add, Delete)</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2><%= title %></h2>
      </div>
      <div class="card-body">
        <form action="/edit/<%= data.id %>" method="post">
          <div class="row">
            <div class="col col-3">
              <label for="name">Name</label>
            </div>
            <div class="col col-9">
              <input type="text" id="name" name="name" value="<%= data.name || '' %>" autocomplete="off" placeholder="insert your name" />
            </div>
          </div>
          <div class="row">
            <div class="col col-3">
              <label for="height">Height</label>
            </div>
            <div class="col col-9">
              <input type="number" id="height" min="0" name="height" value="<%= data.height || '' %>" autocomplete="off" placeholder="insert your height" />
            </div>
          </div>
          <div class="row">
            <div class="col col-3">
              <label for="weight">Weight</label>
            </div>
            <div class="col col-9">
              <input type="number" step="0.01" min="0.00" id="weight" name="weight" value="<%= data.weight || '' %>" autocomplete="off" placeholder="insert your weight" />
            </div>
          </div>
          <div class="row">
            <div class="col col-3">
              <label for="birthdate">Birth Date</label>
            </div>
            <div class="col col-9">
              <input type="date" id="birthdate" name="birthdate" value="<%= data.birthdate || ''  %>" max="2024-12-31" />
            </div>
          </div>
          <div class="row" style="align-items: start;">
            <div class="col col-3">
              <label for="married">Is Married</label>
            </div>
            <div class="col col-9">
              <label style="margin-bottom: 1vw;">
                <input type="radio" name="married" id="married" value=0 <%= data.married === 0 ? 'checked' : '' %>><span>Not Yet</span>
              </label>
              <label>
                <input type="radio" name="married" value=1 <%= data.married === 1 ? 'checked' : '' %>><span>Yes</span>
              </label>
            </div>
          </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <button type="submit" class="btn btn-blue">Save</button>
          <a href="/"><button type="button" class="btn btn-yellow">Back</button></a>
        </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>