<%- include('layout') %>

<h2>Edit Data</h2>

<div class="">
  <form action="/edit/<%= data.id %>" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= data.name %>" required>
  
    <label for="height">Height:</label>
    <input type="number" id="height" name="height" value="<%= data.height %>" required>
  
    <label for="weight">Weight:</label>
    <input type="number" step="0.01" id="weight" name="weight" value="<%= data.weight %>" required>
  
    <label for="birthdate">Birthdate:</label>
    <input type="date" id="birthdate" name="birthdate" value="<%= data.birthdate %>" required>
  
    <label for="married">Is Married:</label>
    <select id="married" name="married">
      <option value="No" <%= data.married === 0 ? 'selected' : '' %>>Not Yet</option>
      <option value="Yes" <%= data.married === 1 ? 'selected' : '' %>>Yes</option>
    </select>
  
    <button type="submit">Update Data</button>
  </form>
</div>


<script>
  document.getElementById("weight").addEventListener("change", function (e) {
    e.currentTarget.value = parseFloat(e.currentTarget.value).toFixed(1);
  });
</script>